#calculatrice {
  padding: 10px;
}

#affichage {
  height: 50px;
  border: 2px solid black;
  background-color: yellow

}

section {
  background-color: green;
  height: 30px;
  border: 1px solid black;

}
section p {
  text-align: center;
}
